.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 1rem;
}

.videos h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
}

.videos iframe{
    padding: 1rem 0 1rem 0 ;
}