.about {
    
}

.about h2 {
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
}

.about p {
    text-align: justify;
    padding: 1rem;
}

.about strong {
    font-weight: 800;
}