.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.calendar h2 {
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
}

.calendar h3 {
    font-size: 2rem;
    font-weight: 600;
}

@media (min-width: 1420px) {

    .calendar h2 {
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        margin: 1rem;
    }

}