.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.5em 0.5em;
    text-decoration: none;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.navbar ul {
    display: flex;
}

.navbar li {
    padding-left: 0.3rem;
}

.navbar div+ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;   
}

.navbar div+ul+li {
   padding: 1em;
    background-color: #ffffff; 
}

@media (min-width: 1220px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        font-size: 2.5rem;
        color: #ffffff;
        padding: 0.5em 0.5em;
        text-decoration: none;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }

    .navbar ul {
        display: flex;
    }

    .navbar li {
        padding-left: 0.9rem;
    }

}