.footer {
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: #1f0103;
    padding: 1rem;
}

.footer h2 strong {
    font-family: var(--fonte-titulos);
    font-size: 2rem;
}